/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

body {
  overflow: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  box-shadow: 0 -10px 50px rgba(0, 0, 0, 0.533) !important;
}

.fa-brands {
  font-size: 23px;
}

.fa-facebook:hover {
  color: rgb(61, 123, 255);
  transition: 500ms;
}

.fa-instagram:hover {
  color: rgb(255, 33, 33);
  transition: 500ms;
}

.fa-twitter:hover {
  color: rgb(0, 172, 238);
  transition: 500ms;
}

.input-box {
  position: relative;
  height: 40px;
  max-width: 60px;
  width: 80vw;
  margin-right: 40px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.369);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.input-box.open {
  max-width: 350px;
}

input {
  position: relative;
  outline: none;
  border: none;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  background-color: transparent;
}

.input-box.open {
  padding: 0 15px 0 65px;
}

.icon {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 60px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  background-color: rgba(204, 204, 204, 0.216);
}

.search-icon,
.close-icon {
  position: absolute;
  top: 50%;
  font-size: 30px;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-icon {
  color: #ffffff;
  transform: translateY(-50%) rotate(90deg);
}

.input-box.open .search-icon {
  transform: translateY(-50%) rotate(0);
}

.close-icon {
  right: -45px;
  color: #ffffff;
  padding: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-50%);
}

.input-box.open .close-icon {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(-50%) rotate(180deg);
}

@media only screen and (max-width: 991px) {
  .close-icon {
    display: none;
  }

  .input-box {
    margin-left: 15px;
    max-width: 350px;
    padding: 0 15px 0 65px;
  }
}

#background-image {
  background:linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/DSC_2078.JPG");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: auto;
}

@media (max-width: 991px) {
  #background-image {
    background-size: cover;
  }
}

div.content {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: transparent;
}

.col-custom-css {
  max-width: 30vw;
  padding: 30px;
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.8px);
  -webkit-backdrop-filter: blur(3.8px);
  border: 1px solid rgba(255, 255, 255, 0.16);
}

@media screen and (max-width: 991px) {
  div.content {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .col-custom-css {
    min-width: 95vw;
  }
}

@media screen and (max-width: 375px) {
  div.content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 320px) {
  div.content {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

div.line {
  width: 80px;
  height: 3px;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 5px;
}

.heading-4 {
  color: #ffffff;
  font-weight: 300;
  text-align: left;
}

.heading-1 {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

.details {
  color: #ffffff;
  text-align: justify;
}

.album-button {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  /* display: inline-block; */
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  float: right;
}

.album-button:hover {
  background-color: #1e293b;
  color: #fff;
  transition: 800ms;
}

@media (min-width: 768px) {
  .album-button {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}

.carousel-container {
  position: relative;
}

.carousel-content {
  position: absolute;
  bottom: 200px;
  right: 0;
  transform: translate(5%, 8%);
}

.outer-box-carousel {
  position: relative;
  display: flex;
  align-items: center;
  width: 60vw;
  height: 40vh; /* Adjust the height as needed */
  overflow: hidden;
  background-color: transparent;
}
.swiper {
  display: flex;
  justify-content: space-between;
}

.box-1, .box-2, .box-3, .box-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 33vh;
  background-color: #ccc;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.473);
}

.box-1:hover, .box-2:hover, .box-3:hover, .box-4:hover {
  transform: scale(1.05);
  transition-duration: 450ms;
  cursor: pointer;
}

.box-1 {
  background-image: url("../img/IMG_2898.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.box-2 {
  background-image: url("../img/DSC_0024.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.box-3 {
  background-image: url("../img/DSC04711.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.box-4 {
  background-image: url("../img/DSC_0008.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}





